---
layout: default
---

<article class="project-page">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>

  <div class="project-images">
    <img src="{{ page.url | split: '/' | slice: 2, 1 | first | prepend: '/projects/' | append: '/images/top.png' | relative_url }}" alt="Top View">
    <img src="{{ page.url | split: '/' | slice: 2, 1 | first | prepend: '/projects/' | append: '/images/left.png' | relative_url }}" alt="Left View">
    <img src="{{ page.url | split: '/' | slice: 2, 1 | first | prepend: '/projects/' | append: '/images/right.png' | relative_url }}" alt="Right View">
    <img src="{{ page.url | split: '/' | slice: 2, 1 | first | prepend: '/projects/' | append: '/images/only_board.png' | relative_url }}" alt="Board Only">
  </div>

  <div class="project-content">
    {{ content }}
  </div>
</article>
